name: ci-appengine-python-update-workflow

on:
  schedule:
  # Run every day at 10AM.
  - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  update-python-versions:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Enable OIDC
    steps:
    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'

    - name: Get available Python versions
      run: |
        # Get all supported Python versions and pass the space-separated versions
        # string to the next step
        versions=$(gcloud functions runtimes list --format="value(NAME)" --project=gae-runtimes-private --region=us-west1 | grep ^python | tr '\n' ' ' | xargs)
        echo "::set-output name=versions::$versions"
      id: get_versions

    - name: Checkout appengine repo
      uses: actions/checkout@v2
      with:
        repository: GoogleCloudPlatform/appengine-python-standard

    # Sign the commit.
    # https://www.chainguard.dev/unchained/keyless-git-commit-signing-with-gitsign-and-github-actions
    - uses: chainguard-dev/actions/setup-gitsign@main

    - name: Update Python versions
      run: |
        readarray -d ' ' -t versions <<< "${{ steps.get_versions.outputs.versions }}"
        # Trim newline from last element
        versions[-1]=$(printf '%s' "${versions[-1]}")

        versions_str=""
        for version in "${versions[@]}"; do
          major=${version:6:1}
          minor=${version:7}
          versions_str+="'$major.$minor', "
        done
        # Remove the last comma and space
        versions_str=${versions_str%, *}

        # Only replace the first occurance
        sed -i "0,/^        python: \[.*/s//        python: \[$versions_str\]/" .github/workflows/unit.yml
  
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        token: ${{ secrets.PAT }}
        commit-message: "ci: Update python-version matrix"
        title: "[Automation] Update python-version matrix"
        body: |
          - python-version matrix updates

          Update the python-version matrix in the CI workflows to include the new supported runtimes.
 
          Auto-generated by ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        push-to-fork: chizhg/appengine-python-standard
        branch: update-python-version-matrix
        signoff: true
        delete-branch: true
